body {
  background-color: rgb(236, 238, 240);
}

.App {
  text-align: center;
  background-color: rgb(236, 238, 240);
  font-family: Verdana, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.nav-container{
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height:50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  z-index: 1;
  height: 65px;

}

.ravenImg {
  width:  2em;
  border-radius: 3em;
  height: 1.9em;
  float: left;
}

.profile_feed_img {
  width:  5.5em;
  border-radius: 3em;
  height: 6em;
  float: left;
  text-align: center;
}

.emoji-button.active,
.emoji-button.favorite:hover {
  text-shadow: 0 0 0 red;
  cursor: pointer;
  width: 30px;
  background-color: white;
}

.emoji-button {
  color: transparent;
  text-shadow: 0 0 0 gray;
  width: 30px;
  background-color: white;
  border: 0;
}

.user-feed-containter {
    text-align: center;
    width: 800px;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    margin-top: 65px;
    justify-content: center;
}

.post-contianer {
  background-color: white;
  border-radius: 1em;
  padding: 20px;
  display: grid;
  gap: 10px;

}

.post-username-link {
  float: left;
  padding-left: 10px;
  text-decoration: none;
  color:#50b7f7; 
  font-size: 15px;
}

.post-username-link:hover {
  color: rgb(247, 82, 184);
}

.button-container {
  display: grid;
  gap: 10px;
  grid-template-columns: 200px auto 200px;
  border-top: thin solid rgb(143, 142, 142);
  padding-top: 10px;
  justify-content: space-between;
}

.button {
  width: 150px;
  height: 2em;
  border-radius: 1em;
  font-size: 15px;
  box-shadow:0 0 4px 2px rgba(0,0,0,0.06);
  border: 0;
  background-color: white;
}

.button:hover {
  color: rgb(247, 82, 184);
  background-color: black;
  font-weight: bold;
}

.comments-container {
  display: flex;
  border-top: thin solid rgb(143, 142, 142);
  gap: 10px;
  padding-left: 70px;
}

.comments-username{
  font-size: 13px;
}

.comments-content {
  font-size: 13px;
}

.user-page-container {
  margin-top: 70px;
  width: 750px;
  background-color: white;
  border-radius: 1em;
  padding: 20px;
}

.user-page-img {
  width:  5.5em;
  border-radius: 3em;
  height: 6em;
}

.login-container{
  margin-top: 100px;
}

br {
  display: block;
  margin: 25x 0;
}


.textpost {
    height:15px;
    width: 270px;
    padding: 10px;
    margin: 10px; 
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: .7em;
    /* box-sizing: border-box; */
}

.textpost:focus {
  background-color: rgb(250, 222, 245);
  border-color: #000;
  outline:none !important
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 18px;
}

.login-welcome {
  padding: 50px;
}