.App {
  text-align: center;
}

.profile_feed_img {
  width: 100px;
  text-align: center;
}


.emoji-button.active,
.emoji-button.favorite:hover {
  text-shadow: 0 0 0 red;
  cursor: pointer;
}



.emoji-button {
  color: transparent;
  text-shadow: 0 0 0 gray;
}